# Laravel Default
/node_modules
/vendor
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/framework/cache/*
/storage/framework/views/*
/storage/framework/sessions/*
/storage/logs/*
.env*
!.env.example
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# OS Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.log

# IDE Files
.idea
.fleet
.nova
.vscode
.zed
.phpactor.json
.phpunit.cache
.terraform/

# Docker (but keep necessary files)
docker-compose.override.yml
docker-compose.yml.dev

# Development
auth.json
/public/build
*.backup
*.sqlite
*.sqlite-journal
